/* Targeting the body element (or replace with your element tag like div) */
body {
  position: relative;
  overflow: hidden;
}

body::before {
  content: "";
  position: fixed; /* or absolute if inside a container */
  top: 0; left: 0; right: 0; bottom: 0;
  background-image: url('car.jpg');
  background-size: cover;
  background-position: center;
  filter: blur(8px);
  z-index: -1; /* behind all content */
}

.title
{
    text-align: center;
    background-color: rgb(248, 249, 250);
    color: black;
    padding: 50px;
    font-family: "Lucida Handwriting", cursive;
    font-size: xx-large;
    text-shadow: 10px 3px 5px black;
    opacity: 0.5;
}

img
{
    border-radius: 20%;
    background-color: rgb(243, 242, 242);
}
.logo
{
    mix-blend-mode: multiply;
    max-width: 80px;
    margin-right: 50px;
    margin-left: 160px;
}
.logo1
{
    mix-blend-mode: multiply;
    max-width: 80px;
    width: 190px;
    margin-right: 50px;
    margin-left: 60px;
    margin-bottom: 10px;
}
.logo2
{
    mix-blend-mode: multiply;
    background-image: transparent;
    width:120px;
    margin-right: 50px;
    margin-left: 40px;
}
.logo3
{
    mix-blend-mode: multiply;
    background-image: transparent;
    width:150px;
    margin-right: 50px;
    margin-left: 30px;
}
.logo4
{
    mix-blend-mode: multiply;
    background-image: transparent;
    width:100px;
    margin-right: 50px;
    margin-left: 40px;
}
.logo5
{
    mix-blend-mode: multiply;
    background-image: transparent;
    width:150px;
    margin-right: 40px;
    margin-left: 30px;
}
.logo6
{
    mix-blend-mode: multiply;
    background-image: transparent;
    width: 190px;px;
    margin-left: 40px;
    margin-right: 60px;
    margin-bottom: -20px;
}
.logo7
{
    mix-blend-mode: multiply;
    background-image: transparent;
    width:160px;
    margin-bottom: -40px;
    margin-left: 20px;
}
.logo8
{
    mix-blend-mode: multiply;
    background-image: transparent;
    width:120px;
    margin-bottom: -20px;
    margin-left: 130px;
}
.logo9
{
    mix-blend-mode: multiply;
    background-image: transparent;
    width:120px;
    margin-left: 20px;
}
.logo10
{
    mix-blend-mode: multiply;
    background-image: transparent;
    width:120px;
    margin-left: 30px;
}
.logo11
{
    mix-blend-mode: multiply;
    background-image: transparent;
    width:120px;
    margin-left: 100px;
    margin-top: 60px;
}
.logo12
{
    mix-blend-mode: multiply;
    background-image: transparent;
    width:130px;
    margin-left: 70px;
    margin-top: 80px;
}
.logo13
{
    mix-blend-mode: multiply;
    background-image: transparent;
    width:130px;
    margin-left: 70px;
    margin-top: 80px;
}
.head
{
    text-align: center;
    font-size: 20px;
    color: transparent;
    background-image: linear-gradient(to right,black);
    -webkit-background-clip: text; 
    background-clip: text;
}
.search {
    float: right;
    padding: 0%;
    font-size: 17px;
    border-radius: 20%;
}